CompileFlags:
  Add:
    - "-I/data/data/com.termux/files/home/dinner_check/include"
    - "-std=c++17"

---
If:
  PathMatch: [.*\.cc, .*\.cpp, .*\.h, .*\.hpp]
CompileFlags:
  Add:
    - "-std=c++17"
---
If:
  PathMatch: [.*\.c]
CompileFlags:
  Add:
    - "-std=c11"
